.features-section {
  @extend %section;

  @media screen and (min-width: $pc-width) {
    padding-bottom: 0;
  }
}

.features {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px 0;

  @media screen and (min-width: $tablet-width) {
    margin: -15px -15px;
  }

  &__item {
    margin: 15px 0;

    @media screen and (min-width: $tablet-width) {
      width: 354px;
      margin: 15px 15px;
    }

    @media screen and (min-width: $pc-width) {
      width: 270px;
      margin: 15px 15px;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;

    background-color: $secondary-bg-color;
    border-radius: 4px;
  }

  &__title {
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    color: $main-title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__meta {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
