.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: $mobile-width;
  margin: 0 auto;

  background-color: $footer-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/jpg/hero-mobile.jpg);
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $tablet-width) {
    max-width: $tablet-width;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/jpg/hero-tablet.jpg);
  }

  @media screen and (min-width: $pc-width) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/jpg/hero-pc.jpg);
  }

  &__title {
    margin-bottom: 30px;

    color: $contrast-text-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $pc-width) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__order-btn {
    @extend %btn;
    @extend %main-page-btn;

    padding: 10px 32px;
  }
}

// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .box {
//     background-image: url('photo@2x.png');
//   }
// }
