.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &.page-header__container {
    display: flex;
  }

  @media screen and (max-width: 767px) {
    max-width: $mobile-width;
  }

  @media screen and (min-width: $tablet-width) {
    width: 768px;
  }

  @media screen and (min-width: $pc-width) {
    width: $pc-width;
  }
}
