// /* link style reset */
%link {
  text-decoration: none;
}

// /* ul style reset */
%list {
  list-style-type: none;
}

// main link hover style
%hover-link {
  color: $main-accent-color;
  fill: $main-accent-color;
}

// main btn hover style
%hover-btn {
  cursor: pointer;
}

// btn fixes
%btn {
  display: inline-block;

  font-family: inherit;

  border-radius: 4px;
  border: none;

  cursor: pointer;
}

%main-page-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $contrast-text-color;

  background-color: $main-accent-color;
}

%section {
  padding: 60px 0;

  @media screen and (min-width: $pc-width) {
    padding: 94px 0;
  }
}

%section-title {
  color: $main-title-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

%thumb {
  position: relative;
  overflow: hidden;
}

%footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $contrast-text-color;
}
