$main-text-color: #757575;
$main-title-color: #212121;
$secondary-text-color: #212121;
$main-accent-color: #2196f3;
$main-bg-color: #ffffff;
$contrast-text-color: #ffffff;
$hover-fill-color: #ffffff;
$footer-social-fill-color: #ffffff;
$footer-color: #2f303a;
$bottom-head-border: #ececec;
$header-logo-color: #000000;
$footer-link-color: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #f5f4fa;
$main-fill: #afb1b8;
$project-border-color: #eeeeee;

$transition-time: 250ms;
$transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);

$transotopn-color: color $transition-time $transition-cubic;

$mobile-width: 480px;
$tablet-width: 768px;
$pc-width: 1200px;
